#header {
	list-style-type:none;
	margin: 0;
	padding: 0;
}

li {
	float: left;
	display: block;
	padding: 8px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
}
#logo {
	padding-top: 100px;
}

#input {
	padding-top: 15px;
}